form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input {
  position: relative;
}
.input input {
  display: block;
  background-color: var(--main-color);
  border: 3px solid var(--text-color);
  color: var(--text-color);
  font-family: var(--text);
  font-size: 16px;
  padding: 5px;
  padding-left: 30px;
  outline: none;
  width: 440px;
  margin-bottom: 0;
}
.input i {
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0%, -50%);
  color: var(--text-color);
}
select {
  background-color: var(--main-color);
  color: var(--text-color);
  border: none;
  font-family: var(--title);
  font-weight: bold;
  font-size: 20px;
}
.filter-line {
  margin-top: 25px;
  height: 3px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 20px;
  margin-bottom: 25px;
}
input[type="submit"] {
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 20px;
  cursor: pointer;
  border-color: var(--text-color);
  color: var(--text-color);
}